{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <h1>This is user dashboard</h1><br>

    <form action="{{url_for('dashboard')}}" method="POST">
        <lable for="task">Add task</lable>
        <input name="task" id="task" placeholder="add task here">
        <button type="submit">submit</button>
    </form>


    <br><br>

    <a href="{{ url_for('dashboard', filter='all') }}">All</a>
    <a href="{{ url_for('dashboard', filter='pending') }}">Pending</a>
    <a href="{{ url_for('dashboard', filter='completed') }}">Completed</a>

    <h2>{% if filter_value=="pending" %}
         pending task
        {% elif filter_value=="completed" %}
         completed task
        {% else %}
         all task
        {% endif %}
    </h2>

    {% for task in tasks %}
        <p>{{ task.task }}</p>
    {% endfor %}

</body>
</html>
{% endblock %}